name: Trigger BVT In Other Repp

on:
  workflow_dispatch

permissions:
  contents: read
  id-token: write

jobs:
  Trigger_BVT:

    name: "Trigger BVT"
    env:
      GITHUB_ORG: xwang2713
      GITHUB_REPO: github-action-hpcc-terraform
      GITHUB_REPO_BRANCH: main
      WF_YAML_FILE: az-bvt.yml

    runs-on: Ubuntu-22.04
    steps:
    - name: 'Call Curl to trigger another workflow'
      run: |
        curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.MING_GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/$GITHUB_ORG/$GITHUB_REPO/actions/workflows/$WF_YAML_FILE/dispatches \
          -d '{"ref":"main", "inputs": { "hpccVersion":"9.8.18", "hpccSrcBranch":"community_9.8.18-1" }}'
